.buttons {
  width: 100%;
  height: 100%;
}

.office__buttons {
  display: block;

  .office.active & {
    display: none;
  }
}

.button {
  width: 100%;
  height: 100%;
  border: 3px solid #ffffff;
  border-radius: 50px;
  padding: 0px 20px;
  font-size: 2.5rem;
  overflow-wrap: break-word;
  background-image: none;
  background-color: #035720;
  color: white;
  font-family: monospace;
  hyphens: auto;
  word-break: auto-phrase;

  &:hover {
    background-color: #035720;
  }

  .nav & {
    width: 150px;
  }
}


.months__buttons {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;

  .button {
    width: 150px;
    height: 50px;
  }

  .months.active & {
    display: none;
  }
}