altgraph
certifi
charset-normalizer
customtkinter
darkdetect
idna
importlib-metadata
packaging
pillow
psutil
pygame
pyinstaller
pyinstaller-hooks-contrib
requests
tk
urllib3
zipp
python-vlc
aiohttp
asyncio
