
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Электронная очередь</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="e-queue" />
	<meta name="author" content="CIS" />

	<!-- Theme style  -->
	<link rel="stylesheet" href="static/css/style.css">


	</head>
	<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<!---h1 id="fh5co-logo"><a href="home"><img src="static/images/pemalogo.png" alt="Free HTML5 Bootstrap Website Template" width="65%" ></a></h1 --->
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li class="fh5co-active"><a href="home">Ревью</a></li>
					<li><a href="setup">Настройка</a></li>
					<li><a href="keyExt">Keyword Extraction</a></li>
					<li><a href="summary">Automaticn</a></li>
					<li><a href="installation">Installation</a></li>
					<li><a href="others">My Profile</a></li>
				</ul>
			</nav>

		</aside>

		<div id="fh5co-main">

			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">NATURAL LANGUAGE PROCESSING</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<img src="static/images/nlp_icon.png" alt="nlp_icon" width="60" height="60">
							</div>
							<div class="fh5co-text">
								<h3>NATURAL LANGUAGE PROCESSING</h3>
								<p>
									Natural Language Processing (NLP) is an area of computer science and artificial intelligence concerned with interactions between computer and human(natural) language.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<img src="static/images/Nuvola_wikipedia_icon.png" alt="Nuvola_wikipedia_icon" width="60" height="60">
							</div>
							<div class="fh5co-text">
								<h3>According to the Wiki definition</h3>
								<p>Natural-language processing (NLP) is an area of computer science and artificial intelligence concerned with the interactions between computers and human (natural) languages, in particular how to program computers to fruitfully process large amounts of natural language data.</p>

							</div>
						</div>
					</div>



				</div>
			</div>


		</div>
	</div>

	</body>
</html>
