altgraph==0.17.4
certifi==2025.7.14
charset-normalizer==3.4.2
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.10
importlib_metadata==8.5.0
packaging==25.0
pillow==10.4.0
psutil==7.0.0
pygame==2.6.1
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.8
python-vlc==3.0.21203
requests==2.32.4
tk==0.1.0
urllib3==2.2.3
zipp==3.20.2
