* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100vh;
}

body {
  height: 100%;
}

#f_10_02_2_1 {
  height: 100%;
}

#f_10_02_2_1 > div {
  height: 100%;
}

