.offices {
  grid-area: A;
  display: grid;
  grid-template: repeat(4, 25%) / repeat(4, 25%);
  justify-items: center;
  justify-content: center;
  align-items: center;

  .appointment.active & {
    display: block;
  }
}



.office {
  display: block;
  width: 90%;
  height: 90%;

  .appointment.active & {
    display: none;
  }

  &.active {
    width: 100%;
    height: 100%;

    .appointment.active & {
      display: block;
    }
  }
}