@use "../abstract/variables" as *;

.persona {
  grid-area: C;
  display: none;

  &__auth {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
  }

  .appointment.active & {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 10px;
  }
}


.user-id {
  width: 300px;
}

input[type="text"] {
  display: block;
}

.persona__input {
  display: flex;

  input {
      display: block;
    }
}