.times {
  display: none;
  padding: 10px;

  .day.active & {
    display: flex;
    gap: 5px 10px;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: flex-start;
    overflow: hidden;
  }

  &.active {
    display: none;
  }
}


.time {
  width: 150px;
  height: 60px;

  .times.active & {
    display: none;
  }
}

.day__message {
  display: none;

  .times.active + & {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    width: 100%;
    align-items: center;
  }
}