.times {
  display: none;
  padding: 10px;
}

.day-active .times {
  display: flex;
  gap: 5px 10px;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: flex-start;
  overflow: hidden;
}

.time {
  width: 150px;
  height: 60px;
}