[Unit]
Description=eq_sb05
After=graphical.target
Wants=graphical.target
ConditionUser=!root
ConditionUser=!gdm
ConditionUser=!lightdm

[Service]
Type=simple
ExecStart=/srv/eq_sb05/sb05
WorkingDirectory=/srv/eq_sb05
#User=user001
#Group=user001
RestartSec=11s
Restart=on-failure
#Restart=on-abort

[Install]
WantedBy=default.target
