
<!DOCTYPE html>
  <html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Электронная очередь</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="e-queue" />
		<meta name="author" content="CIS" />
		<meta name="color-scheme" content="light dark">

		<!-- Theme style  -->
		<link rel="stylesheet" href="static/css/pico.min.css">
		<link rel="stylesheet" href="static/css/custom.css">
		<style>
		</style>
	</head>
	<body>
		<div>
			<span style="float: right;">
				<a href="home">Ревью</a>
				<a href="setup" class='selectmenu'>Справочники</a>
				<a href="report">Отчеты</a>
			</span>
		</div>
		<BR>
		<div>
			<span style="float: right;">
				<a href="setup_queue">Очереди</a>
				<a href="setup_hw" class='selectmenu'>Железо</a>
				<a href="report">Рабочие места</a>
				<a href="report">Киоски</a>
			</span>
		</div>
    <BR>
		<div>
		  <span style="float: right;">
				<a href="setup_hw_tvsrv">Телевизор</a>
  			<a href="setup_hw_ausrv">Аудиосервер</a>
  			<a href="setup_hw_ledsrv">LED-табло</a>
    	</span>
    </div>
    <BR>
      <table>
        <thead>
          <tr>
            <th style="background-color: #e9e9e9;">id</th>
            <th style="background-color: #e9e9e9;">Наименование</th>
            <th style="background-color: #e9e9e9;">Тип</th>
            <th style="background-color: #e9e9e9;">Описание</th>
            <th style="background-color: #e9e9e9;">Статус</th>
          </tr>
        </thead>

        <tbody>
        {% for h in hw %}
          <tr>
            <td align="center">{{ h[0] }}</td>
            <td align="left">{{ h[1] }}</td>
            <td align="left">{{ h[2] }}</td>
            <td align="left"><small>
              <textarea name="textarea" rows="5">{{ h[3] }}</textarea>
            </small>
            </td>
            <td align="center">{{ h[4] }}</td>
          </tr>
        {% endfor %}
        </tbody>

        <tfoot>
        <form method="post" action="/add_hw">
          <tr>
            <td style="background-color: #e9e9e9;" align="left">_</td>
            <td style="background-color: #e9e9e9;" align="center">
              <input type="text" name="name" placeholder="Наименование" required>
            </td>
            <td style="background-color: #e9e9e9;" align="center">
              <select name="type" required>
                <option>tvsrv</option>
                <option>ausrv</option>
                <option>ledsrv</option>
              </select>
            </td>
            <td style="background-color: #e9e9e9;" align="center"><small>
              <textarea name="description" placeholder="json-объект" rows="5" required></textarea>
              </small>
            </td>
            <td style="background-color: #e9e9e9;" align="left"><button type="submit">Добавить</button></td>
          </tr>
        </form>
      </tfoot>

      </table>
	</body>
</html>
